* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    color: #000;
    font-weight: 400;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.container-lg {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.container-xl {
    max-width: 1294px;
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 59px;
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

img{
    width: 100%;
    height: auto;
}

.header {
    padding: 42px 0 54px 0;
}

.header .header-container {
    display: flex;
    justify-content: space-between;
}

.header .header-nav {
    display: flex;

}

.header .logo {
    font-size: 25px;
    font-weight: 700;
}

.header-nav .nav-items {
    display: flex;
    align-items: center;
    margin: 0 76px 0 0;
    padding: 0;
    list-style: none;
}

.nav-items .nav-item {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
}

.header-nav .btn-login {
    padding: 6px 26px;
    border: 1px solid #000;
    border-radius: 10px;
}

.hero {
    position: relative;
    padding: 90px 0 0 0;
    background: linear-gradient(90deg, #B3E8BE 21.27%, rgba(227, 227, 227, 0) 86.66%), url("./images/hero-bg.png"), center center no-repeat;
    background-size: cover;
    border-radius: 10px;
}

/*.hero::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*background: linear-gradient(90deg, #B3E8BE 21.27%, rgba(227, 227, 227, 0) 86.66%);*!*/
/*}*/
.hero .content{
    max-width: 460px;
}

.hero .hero-title {
    margin-bottom: 10px;
}

.hero .desc {
    font-size: 18px;
    font-weight: 700;
}

.hero .facilities {
    padding: 30px 42px 20px 30px;
    background: #fff;
    box-shadow: -22px 23px 25px rgba(191, 191, 191, 0.25), 22px 22px 25px rgba(191, 191, 191, 0.25);
    border-radius: 20px;
}

.facilities {
    display: flex;
    justify-content: space-between;
    transform: translateY(50%);
}

.facilities .options {

}

.facilities .options .title {
    margin-bottom: 20px;
    font-weight: 700;
}

.facilities .options .options-list {
    display: flex;
}

.facilities .options .options-list .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 38px;
    font-weight: 700;
}

.facilities .options .options-list .option:last-child {
    margin: 0;
}

.hotels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotels .title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.hotels .desc {
    display: inline-block;
    margin-bottom: 34px;
    font-size: 18px;
    font-weight: 500;
    color: #A0A0A0;
}

.hotels .price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 120px;
    height: 48px;
    padding: 0 15px 0 30px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 18px;
    background: #0500FF;
    color: #fff;
}

.search-block {

}

.search {
    position: relative;
    display: inline-block;
    margin-bottom: 52px;
}

.search::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    width: 18px;
    height: 18px;
    background: url("./images/search.svg") center center;
    background-size: cover;
    transform: translateY(-50%);
}

.search .search-input {
    width: 315px;
    height: 46px;
    padding: 0 16px;
    border: 1px solid #A0A0A0;
    border-radius: 20px;
    font-size: 24px;
}

.examples {
    display: flex;
    justify-content: space-between;

}

.item{
    width: 64px;
    height: 64px;
    margin: 0 20px;
    border-radius: 50%;
    overflow: hidden;
}


/*Иконки*/

.icon {
    display: inline-block;
    width: 72px;
    height: 72px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.icon-swimming {
    background: url("./images/swimming-icon.svg") center center no-repeat;
}

.icon-wifi {
    background: url("./images/wifi-icon.svg") center center no-repeat;
}
